# Task 1

### Importing Library

In [1]:
import pandas as pd

### Data Loading / Reading

In [2]:
ds=pd.read_csv("dataset.csv")

### Data Exploration

In [3]:
print(f"Number of rows: {ds.shape[0]}.")
print(f"Number of columns: {ds.shape[1]}.")

Number of rows: 10954.
Number of columns: 7.

In [4]:
ds.head(3)

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099058  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.093890  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.086999  105728000

In [5]:
ds.tail(3)

,Date,Open,High,Low,Close,Adj Close,Volume
10951,2024-05-22,192.270004,192.820007,190.270004,190.899994,190.899994,34648500
10952,2024-05-23,190.979996,191.000000,186.630005,186.880005,186.880005,51005900
10953,2024-05-24,188.820007,190.580002,188.039993,189.979996,189.979996,36294600

In [6]:
ds.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10954.000000,10954.000000,10954.000000,10954.000000,10954.000000,1.095400e+04
mean,21.530877,21.761904,21.308220,21.544072,20.747506,3.190792e+08
std,44.458386,44.931856,44.013578,44.492483,44.038943,3.357446e+08
min,0.049665,0.049665,0.049107,0.049107,0.037900,0.000000e+00
25%,0.296875,0.303571,0.290179,0.296875,0.241624,1.139936e+08
50%,0.522321,0.533482,0.513393,0.524554,0.427333,2.067128e+08
75%,19.767500,19.888572,19.457768,19.682679,17.048054,3.993444e+08
max,198.020004,199.619995,197.000000,198.110001,197.589523,7.421641e+09

In [7]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10954 entries, 0 to 10953
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10954 non-null  object
 1   Open       10954 non-null  float64
 2   High       10954 non-null  float64
 3   Low        10954 non-null  float64
 4   Close      10954 non-null  float64
 5   Adj Close  10954 non-null  float64
 6   Volume     10954 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 599.2+ KB

In [8]:
j=0
for i in ds.columns:
    j+=1
    print(f"{j}: {i}")

1: Date
2: Open
3: High
4: Low
5: Close
6: Adj Close
7: Volume

In [9]:
ds.count()

Date         10954
Open         10954
High         10954
Low          10954
Close        10954
Adj Close    10954
Volume       10954
dtype: int64

In [10]:
ds["Volume"].unique()

array([469033600, 175884800, 105728000, ...,  34648500,  51005900,
        36294600], dtype=int64)

In [11]:
ds.nunique()

Date         10954
Open          6262
High          6205
Low           6194
Close         6370
Adj Close     7938
Volume       10390
dtype: int64

In [13]:
ds.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

# Task 2

### Data Pre-Processing

### Dealing with null-values

In [16]:
# Filling missing values with mean
def fill_Mean(cols):
    for i in cols:
        ds[i] = ds[i].fillna(ds[i].mean())

columns = ['Open', 'Close', 'High', 'Low']
fill_Mean(columns)

In [18]:
# Filling missing values with mode
def fill_Mode(cols):
    for i in cols:
        ds[i] = ds[i].fillna(ds[i].mode()[0])

columns = ['Open', 'Close', 'High', 'Low']
fill_Mode(columns)

In [23]:
# Dropping irrelevant columns
tds=ds.copy()
tds.info
tds.drop('Volume', axis=1, inplace=True)
tds.info

<bound method DataFrame.info of              Date        Open        High         Low       Close   Adj Close
0      1980-12-12    0.128348    0.128906    0.128348    0.128348    0.099058
1      1980-12-15    0.122210    0.122210    0.121652    0.121652    0.093890
2      1980-12-16    0.113281    0.113281    0.112723    0.112723    0.086999
3      1980-12-17    0.115513    0.116071    0.115513    0.115513    0.089152
4      1980-12-18    0.118862    0.119420    0.118862    0.118862    0.091737
...           ...         ...         ...         ...         ...         ...
10949  2024-05-20  189.330002  191.919998  189.009995  191.039993  191.039993
10950  2024-05-21  191.089996  192.729996  190.919998  192.350006  192.350006
10951  2024-05-22  192.270004  192.820007  190.270004  190.899994  190.899994
10952  2024-05-23  190.979996  191.000000  186.630005  186.880005  186.880005
10953  2024-05-24  188.820007  190.580002  188.039993  189.979996  189.979996

[10954 rows x 6 columns]>

### Data-Type int

In [24]:
print(tds["Open"].tail(5))
tds['Open'] = tds['Open'].astype(int)
print(tds["Open"].tail(5))

10949    189.330002
10950    191.089996
10951    192.270004
10952    190.979996
10953    188.820007
Name: Open, dtype: float64
10949    189
10950    191
10951    192
10952    190
10953    188
Name: Open, dtype: int32