### Importing Library

In [18]:
import pandas as pd

### Data Loading / Reading

In [3]:
ds=pd.read_csv("dataset.csv")

### Data Exploration

In [4]:
print(f"Number of rows: {ds.shape[0]}.")
print(f"Number of columns: {ds.shape[1]}.")

Number of rows: 10954.
Number of columns: 7.

In [6]:
ds.head(3)

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099058  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.093890  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.086999  105728000

In [7]:
ds.tail(3)

,Date,Open,High,Low,Close,Adj Close,Volume
10951,2024-05-22,192.270004,192.820007,190.270004,190.899994,190.899994,34648500
10952,2024-05-23,190.979996,191.000000,186.630005,186.880005,186.880005,51005900
10953,2024-05-24,188.820007,190.580002,188.039993,189.979996,189.979996,36294600

In [8]:
ds.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10954.000000,10954.000000,10954.000000,10954.000000,10954.000000,1.095400e+04
mean,21.530877,21.761904,21.308220,21.544072,20.747506,3.190792e+08
std,44.458386,44.931856,44.013578,44.492483,44.038943,3.357446e+08
min,0.049665,0.049665,0.049107,0.049107,0.037900,0.000000e+00
25%,0.296875,0.303571,0.290179,0.296875,0.241624,1.139936e+08
50%,0.522321,0.533482,0.513393,0.524554,0.427333,2.067128e+08
75%,19.767500,19.888572,19.457768,19.682679,17.048054,3.993444e+08
max,198.020004,199.619995,197.000000,198.110001,197.589523,7.421641e+09

In [9]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10954 entries, 0 to 10953
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10954 non-null  object
 1   Open       10954 non-null  float64
 2   High       10954 non-null  float64
 3   Low        10954 non-null  float64
 4   Close      10954 non-null  float64
 5   Adj Close  10954 non-null  float64
 6   Volume     10954 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 599.2+ KB

In [12]:
j=0
for i in ds.columns:
    j+=1
    print(f"{j}: {i}")

1: Date
2: Open
3: High
4: Low
5: Close
6: Adj Close
7: Volume

In [13]:
ds.count()

Date         10954
Open         10954
High         10954
Low          10954
Close        10954
Adj Close    10954
Volume       10954
dtype: int64

In [15]:
ds["Volume"].unique()

array([469033600, 175884800, 105728000, ...,  34648500,  51005900,
        36294600])

In [16]:
ds.nunique()

Date         10954
Open          6262
High          6205
Low           6194
Close         6370
Adj Close     7938
Volume       10390
dtype: int64

In [17]:
ds.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64